<template>
  <section>
    <h2>{{ formMode === "edit" ? "Edit" : "Create" }}</h2>

    <v-form ref="form">
      <v-text-field
        v-model="formData.name"
        label="Name"
        required
      ></v-text-field>

      <v-select
        v-model="formData.type"
        :items="types"
        label="Type"
        required
      ></v-select>

      <v-textarea
        v-model="formData.description"
        label="Description"
      ></v-textarea>

      <v-checkbox
        v-model="formData.editable"
        label="Editable"
        required
      ></v-checkbox>

      <v-checkbox
        v-model="formData.active"
        label="Active"
        required
      ></v-checkbox>

      <v-autocomplete
        v-model="formData.users"
        :items="users"
        filled
        chips
        color="blue-grey lighten-2"
        label="Select"
        item-text="first_name"
        item-value="id"
        multiple
      >
        <template v-slot:selection="data">
          <v-chip
            v-bind="data.attrs"
            :input-value="data.selected"
            close
            @click="data.select"
            @click:close="removeUser(data.item)"
          >
            <v-avatar left>
              <v-img :src="data.item.photo_url"></v-img>
            </v-avatar>
            {{ data.item.first_name }}
          </v-chip>
        </template>
        <template v-slot:item="data">
          <template>
            <v-list-item-avatar>
              <img :src="data.item.photo_url" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title
                v-html="data.item.first_name"
              ></v-list-item-title>
            </v-list-item-content>
          </template>
        </template>
      </v-autocomplete>

      <v-btn color="success" class="mr-4" @click="save"> Save </v-btn>
    </v-form>
  </section>
</template>

<script>
export default {
  name: "UserRolesList",

  components: {},

  data: () => ({
    formData: {
      id: null,
      name: null,
      type: null,
      description: null,
      editable: false,
      active: false,
      users: [],
      created_on: null,
      modified_on: null,
    },
    types: ["admin", "job_admin"],
    users: [
      {
        id: 1,
        first_name: "Jason",
        last_name: "Mossburg",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 2,
        first_name: "Bill",
        last_name: "Hayes",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 3,
        first_name: "Nathan",
        last_name: "Norman",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 4,
        first_name: "Ron",
        last_name: "Mitchell",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 5,
        first_name: "Doug",
        last_name: "Tutt",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 6,
        first_name: "Sarah",
        last_name: "Jane",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 7,
        first_name: "Adrian",
        last_name: "Davis",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 8,
        first_name: "Conrad",
        last_name: "Nguyen",
        photo_url: "http://placekitten.com/60/60",
      },
      {
        id: 9,
        first_name: "Kevin",
        last_name: "McSweeney",
        photo_url: "http://placekitten.com/60/60",
      },
    ],
  }),

  computed: {
    formMode() {
      return this.$route.params?.id ? "edit" : "create";
    },
  },

  methods: {
    save() {
      const users = this.users.filter((user) =>
        this.formData.users.includes(user.id)
      );

      if (this.formMode === "create") {
        const sortedUsersIds = this.users.sort(function (a, b) {
          return a - b;
        });
        const lastId = sortedUsersIds.pop();
        const currentDateTime = Date.now();

        const creationData = {
          ...this.formData,
          users: users,
          id: lastId + 1,
          creationDate: currentDateTime,
          updatedDate: currentDateTime,
        };
        this.$store
          .dispatch("userRoles/createUserRole", creationData)
          .then(() => {
            this.$router.push({ name: "Home" });
          });
      } else {
        this.$store
          .dispatch("userRoles/updateUserRole", {
            ...this.formData,
            users: users,
            updatedDate: Date.now(),
          })
          .then(() => {
            this.$router.push({ name: "Home" });
          });
      }
    },

    removeUser(item) {
      const indexToDelete = this.formData.users.findIndex((formDataUser) => {
        if (typeof formDataUser === "object") {
          return formDataUser.id === item.id;
        } else {
          return formDataUser === item.id;
        }
      });

      if (indexToDelete > -1) {
        this.formData.users.splice(indexToDelete, 1);
      }
    },
  },

  mounted() {
    if (this.$route.params?.id) {
      const currentUserRole = this.$store.getters["userRoles/all"].find(
        (item) => item.id === this.$route.params.id
      );

      if (currentUserRole) {
        const currentUserRoleUsersIds = currentUserRole.users.map((item) => {
          return item.id;
        });

        this.formData = currentUserRole;
        this.formData.users = this.users.filter((user) => {
          const condition = currentUserRoleUsersIds.includes(user.id);
          return condition;
        });
      }
    }
  },
};
</script>