<template>
  <v-main class="main">
    <h1 class="main--title">User Roles Management</h1>

    <section class="main--filters">
      <v-row align="center">
        <v-col class="d-flex" cols="4">
          <v-text-field v-model="search">
            <v-icon slot="append" color="black"> mdi-magnify </v-icon>
          </v-text-field>
        </v-col>

        <v-col class="d-flex" cols="4">
          <v-select
            :items="availableStatus"
            label="Role Status"
            v-model="statusFilter"
          ></v-select>
        </v-col>

        <v-col class="d-flex justify-end" cols="4">
          <v-btn
            depressed
            color="cyan"
            class="float-right white--text"
            @click="createNewRole"
          >
            CREATE NEW ROLE
          </v-btn>
        </v-col>
      </v-row>
    </section>

    <section class="main--cards">
      <v-row>
        <v-col v-for="userRole in userRoles" :key="userRole.id" cols="6" md="4">
          <v-card class="main--card" outlined tile>
            <v-chip
              class="ma-1 main--card-active-status"
              color="red"
              text-color="white"
              v-if="!userRole.active"
            >
              Inactive
            </v-chip>

            <v-card-text class="main--card-body">
              <p class="text-h6 main--card-title">
                {{ userRole.name }}
              </p>
              <div class="main--card-type">{{ userRole.type }}</div>
              <p class="main--card-description">{{ userRole.description }}</p>
              <div class="main--card-users">
                <v-avatar
                  class="main--card-avatar"
                  v-for="user in userRole.users"
                  :key="`${user.id}${userRole.id}`"
                >
                  <img :src="user.photo_url" />
                </v-avatar>
              </div>
            </v-card-text>
            <v-card-actions class="main--card-actions">
              <span>
                {{
                  userRole.created_on !== userRole.modified_on
                    ? "Last upodate "
                    : "Date created: "
                }}
                {{
                  userRole.created_on !== userRole.modified_on
                    ? new Date(userRole.created_on).toLocaleDateString("en-US")
                    : new Date(userRole.modified_on).toLocaleDateString("en-US")
                }}
              </span>

              <span class="actions">
                <v-icon v-if="!userRole.editable">mdi-lock</v-icon>

                <v-btn
                  color="black"
                  text
                  right
                  v-if="userRole.editable"
                  @click="editUserRole(userRole.id)"
                >
                  EDIT
                </v-btn>

                <v-btn
                  color="red"
                  text
                  right
                  v-if="userRole.editable"
                  @click="deleteUserRole(userRole.id)"
                >
                  DELETE
                </v-btn>
              </span>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </section>
  </v-main>
</template>

<script>
export default {
  name: "UserRolesList",

  components: {},

  data: () => ({
    search: "",
    statusFilter: "Active and Inactive",
    availableStatus: ["Active", "Inactive", "Active and Inactive"],
  }),

  computed: {
    userRoles() {
      return this.$store.getters["userRoles/all"].filter((item) => {
        if (
          this.statusFilter === "Active" ||
          this.statusFilter === "Inactive"
        ) {
          return (
            !item.name.toLowerCase().indexOf(this.search.toLowerCase()) &&
            item.active === (this.statusFilter === "Active")
          );
        }

        return !item.name.toLowerCase().indexOf(this.search.toLowerCase());
      });
    },
  },

  methods: {
    createNewRole() {
      this.$router.push({ name: "Create" });
    },

    deleteUserRole(userRoleId) {
      this.$store.dispatch("userRoles/deleteUserRole", { id: userRoleId });
    },

    editUserRole(userRoleId) {
      this.$router.push({ name: "Edit", params: { id: userRoleId } });
    },
  },

  mounted() {
    this.$store.dispatch("userRoles/fetchAll");
  },
};
</script>