<template>
  <v-app>
    <div class="wrapper">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style lang="scss">
  .wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: rgb(244, 244, 244);

    .main {
      background: white;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      padding-right: 2rem !important;
      padding-left: 2rem !important;

      .main--card {
        padding: 0;

        .main--card-active-status {
          position: absolute;
          top: .2rem;
          right: .2rem;
          border-radius: .2rem;
          font-size: .85rem;
        }

        .main--card-body {
          .main--card-title {
            font-size: 1.2rem !important;
            margin-bottom: 0;
          }

          .main--card-type {
            margin-bottom: 1rem;
          }

          .main--card-users {
            margin-bottom: 2rem;

            .main--card-avatar {
              margin-right: .3rem !important;
              width: 1.5rem !important;
              height: 1.5rem !important;
              min-width: 1.5rem !important;
            }
          }
        }

        .main--card-actions {
          background: rgb(244, 244, 244);
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
</style>